<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="TestServer" type="ApplicationConfigurationSection" />
	</configSections>
	<TestServer>
		<ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
			<FilePath>TestServer.Config.xml</FilePath>
		</ConfigurationLocation>
	</TestServer>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XmlDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>