<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SampleServer" type="ApplicationConfigurationSection"/>
  </configSections>
  <SampleServer>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>SampleServer.Config.xml</FilePath>
    </ConfigurationLocation>
  </SampleServer>
</configuration>